*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
.card-body {
    margin: 10px;
    width: 550.95px;
    height: 900px;
    padding-top: 36px;
    padding-left: 25px;
    padding-right: 25.95px;

    background: #F7F5F5;
    border-radius: 27.72px;
    border: 2.88px solid #75464AE0
}

.card-img {
    width: 500;
    height: 485px;
    border-radius: 79px;
    padding-bottom: 98px;

}
.row {
    
    margin-top: 98px;
    padding-left: 9px;

    font-family: Cinzel;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}

.name{
    display: inline-block;
    font-family: Cinzel;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    
}
.smcaps{
    color: #75464A;
}

.product-name {
    font-family: Cinzel;

    color: #121111;
}
.price {
    display: inline-block;
    justify-content: end; 
    font-family: Cinzel;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FF0000;
    margin-left: 153px;


}

.status{
    margin-top: 41px;
    margin-bottom: 89px;
    font-family: Cinzel;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
   
    line-height: 100%;
    letter-spacing: 3%;
    text-decoration: underline;
    text-decoration-thickness: 0%;

}
.new{
    color:  #FF0000;

}

.in_stock{
    color: #121111;
}

.btm{
    background: #3F3232;
    margin-inline: 135px;

     border-radius: 28.83px;
     width: 255;
    height: 65.8;


}

.btm_txt {
    color: #FFFFFF;
    font-family: Cinzel;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;

    padding: 15px
    
    
    }

